{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'un livre par code barre
{% endblock %}

{% block body %}
    {{ form(form) }}
    <section id="container" class="container">
        <div id="interactive" class="viewport"></div>
    </section>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('barcode') }}
 {% endblock %}
