{% extends 'base.html.twig' %}

{% block title %}
    Liste des livres
{% endblock %}

{% block body %}
    <p><a href="{{ path('book_add') }}">Ajouter un livre</a></p>
    {% if books|length > 0 %}
        {% include "book/_list.html.twig" %}
    {% endif %}
{% endblock %}
