{% extends 'base.html.twig' %}

{% block title %}Supprimer le tag {{ tag.name }}{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-4">
            <div class="box">
                <h1>Supprimer le tag {{ tag.name }}</h1>
                <br>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
